<section class="main__header">
    <div class="header__content">
        <h2>Editar producto <span class="header__id">(id: <%= data.product.product_id %>)</span></h2>
        <p>Modifique los datos necesarios</p>
    </div>

    <div class="header__btn-container">
        <button class="btn btn--gray" id="btnBack">
            <iconify-icon icon="tabler:xbox-x"></iconify-icon>
            <span>Cancelar</span>
        </button>
        <button class="btn btn--green" type="submit" form="form">
            <iconify-icon icon="tabler:circle-check"></iconify-icon>
            <span>Guardar</span>
        </button>
    </div>
</section>

<form id="form" class="main__body-column" method="POST" data-id="<%= data.product.product_id %>" data-route="product"  data-type="edit">
    <section class="main__body-column__left">
        <section class="wrapper">

            <div class="wrapper__header wrapper__header--with-badge">
                <h2 class="wrapper__subtitle">General</h2>
                    <label for="product_status" class="label label--checkbox">
                        <input class="checkbox" type="checkbox" name="product_status" id="product_status" <%= data.product.product_status == 1 ? 'checked' : '' %>>
                        <span>Activo</span>
                    </label>
            </div>

            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--2-1">
                    <label class="label">
                        <span>Nombre</span>
                        <input id="product_name" class="input-text" type="text" name="product_name" value="<%= data.product.product_name %>">
                    </label>

                    <label for="brand_id" class="label">
                        <span class="label__span-link">Marca <a href="/brand/new" class="link">+ Añadir</a></span>
                        <select name="brand_id" class="input-select">
                            <% data.brands.forEach(brand=> { %>
                                <option value="<%= brand.brand_id %>" <%=data.product.brand_id==brand.brand_id ? 'selected' : '' %>><%= brand.brand_name %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>

                <div class="wrapper__row">
                    <label class="label">
                        <span>Descripción</span>
                        <textarea class="input-textarea" name="product_description" rows="12"><%= data.product.product_description %></textarea>
                    </label>
                </div>

                <div class="wrapper__row wrapper__row--4">
                    <label for="product_ml" class="label">
                        <span>ML</span>
                        <input class="input-text" type="number" name="product_ml"
                            value="<%= data.product.product_ml %>">
                    </label>
                    <label for="product_family" class="label">
                        <span>Familia Olfativa</span>
                        <input class="input-text" type="text" name="product_family"
                            value="<%= data.product.product_family %>">
                    </label>
                    <label for="product_gender" class="label">
                        <span>Genero</span>
                        <select name="product_gender" class="input-select">
                            <option value="Masculino" <%=data.product.product_gender=='Masculino' ? 'selected' : '' %>>Masculino</option>
                            <option value="Femenino" <%=data.product.product_gender=='Femenino' ? 'selected' : '' %>>Femenino</option>
                            <option value="Unisex" <%=data.product.product_gender=='Unisex' ? 'selected' : '' %>>Unisex</option>
                            <option value="Fragancias" <%=data.product.product_gender=='Fragancias' ? 'selected' : '' %>>Fragancias</option>
                        </select>
                    </label>
                    <label for="product_type" class="label">
                        <span>Tipo</span>
                        <select name="product_type" class="input-select">
                            <option value="Eau de Parfum" <%=data.product.product_type=='Eau de Parfum' ? 'selected' : '' %>>Eau de Parfum</option>
                            <option value="Eau de Toilette" <%=data.product.product_type=='Eau de Toilette' ? 'selected' : '' %>>Eau de Toilette</option>
                            <option value="Desodorante" <%=data.product.product_type=='Desodorante' ? 'selected' : '' %>>Desodorante</option>
                            <option value="After Shave" <%=data.product.product_type=='After Shave' ? 'selected' : '' %>>After Shave</option>
                        </select>
                    </label>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="wrapper__header">
                <h2 class="wrapper__subtitle">Inventario</h2>
            </div>
            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--3">
                    <label for="product_stock" class="label">
                        <span>Stock</span>
                        <input class="input-text" type="number" name="product_stock" value="<%= data.product.product_stock %>">
                    </label>
                    <label class="label">
                        <span>SKU</span>
                        <input class="input-text" type="number" name="product_sku" value="<%= data.product.product_sku %>">
                    </label>

                    <label for="provider_id" class="label">
                        <span class="label__span-link">Proveedor <a href="/provider/new" class="link">+ Añadir</a></span>
                        <select name="provider_id" class="input-select">
                            <% data.providers.forEach(provider=> { %>
                                <option value="<%= provider.provider_id %>" <%= data.product.provider_id == provider.provider_id ? 'selected' : '' %>><%= provider.provider_name %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--4">
                    <label for="product_price_list" class="label">
                        <span>Precio Lista</span>
                        <input class="input-text" type="number" name="product_price_list" value="<%= data.product.product_price_list %>">
                    </label>
                    <label for="product_price_sell" class="label">
                        <span>Precio Venta</span>
                        <input class="input-text" type="number" name="product_price_sell" value="<%= data.product.product_price_sell %>">
                    </label>
                    <label for="product_discount" class="label">
                        <span>Descuento</span>
                        <input class="input-text" type="number" name="product_discount" value="<%= data.product.product_discount %>">
                    </label>
                    <label for="payment_id" class="label">
                        <span>Cuotas</span>
                        <select name="payment_id" class="input-select">
                            <% data.payments.forEach(payment=> { %>
                                <option value="<%= payment.payment_id %>"><%= payment.payment_quantity %> - <%= payment.payment_interest %>% de interés</option>
                            <% }) %>
                        </select>
                    </label>
                </div>
            </div>
        </section>
        
        <hr>

        <section class="wrapper wrapper--delete">
            <div class="wrapper__header">
                <h2 class="wrapper__subtitle">Eliminar</h2>
            </div>
            <div class="wrapper__body">
                <div class="wrapper__group">
                    <p>Elimina definitivamente el producto. Esta acción no se puede deshacer</p>
                    <button id="btn-delete" class="btn btn--red"  type="button" data-id="<%= data.product.product_id %>" data-route="product">Eliminar</button>                </div>
            </div>
        </section>

    </section>

    <!-- ----------------------------------------------------------------------------  -->

    <section class="main__body-column__right">
        <section class="wrapper">
            <div class="wrapper__header">
                <h2 class="wrapper__subtitle">Indicadores</h2>
            </div>
            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--auto">
                    <label for="pf_new" class="label label--checkbox">
                        <input class="checkbox" type="checkbox" name="pf_new" id="pf_new"<%=data.product.product_flags.new ==1 ? 'checked' : '' %>>
                        <span>Nuevo</span>
                    </label>
                    <label for="pf_promoted" class="label label--checkbox">
                        <input class="checkbox" type="checkbox" name="pf_promoted" id="pf_promoted"<%=data.product.product_flags.promoted ==1 ? 'checked' : '' %>>
                        <span>Promocional</span>
                    </label>
                    <label for="pf_featured" class="label label--checkbox">
                        <input class="checkbox" type="checkbox" name="pf_featured" id="pf_featured"<%=data.product.product_flags.featured ==1 ? 'checked' : '' %>>
                        <span>Destacado</span>
                    </label>
                    <label for="pf_topseller" class="label label--checkbox">
                        <input class="checkbox" type="checkbox" name="pf_topseller" id="pf_topseller"<%=data.product.product_flags.topSeller ==1 ? 'checked' : '' %>>
                        <span>Más vendido</span>
                    </label>
                </div>
            </div>
        </section>
        <section class="wrapper">
            <div class="wrapper__header">
                <h2 class="wrapper__subtitle">Imagenes</h2>
            </div>
            <div class="wrapper__body">
                <div class="wrapper__img-container">
                    <img src="<%= data.product.product_img %>" alt="<%= data.product.product_name %>">
                </div>
            </div>
            <div class="wrapper__footer">
                <input type="file" accept="image/*" name="product_img" id="product_img">
            </div>
        </section>
    </section>
</form>