<section class="main__header">
    <div class="header__content">
        <h2>Nuevo producto</h2>
        <p>Complete toda la información a continuación</p>
    </div>

    <div class="header__btn-container">
        <button class="btn btn--gray" id="btnBack">
            <iconify-icon icon="tabler:xbox-x"></iconify-icon>
            <span>Cancelar</span>
        </button>
        <button class="btn btn--green" type="submit" form="form-product-new">
            <iconify-icon icon="tabler:circle-check"></iconify-icon>
            <span>Guardar</span>
        </button>
    </div>
</section>

<form class="main__body-column" action="/product/new" method="post" id="form-product-new">
    <section class="main__body-column__left">
        <section class="wrapper">
            <div class="wrapper__header wrapper__header--with-badge">
                <h2 class="wrapper__subtitle">General</h2>
                
                    <label for="product_status" class="label label--checkbox">
                        <input class="checkbox" type="checkbox" name="product_status" id="product_status" checked>
                        <span>Activo</span>
                    </label>
                
            </div>
            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--2-1">
                    <label class="label">
                        <span>Nombre</span>
                        <input class="input-text" type="text" name="product_name" required>
                    </label>

                    <label for="brand_id" class="label">
                        <span class="label__span-link">Marca <a href="/brand/new" class="link">+ Añadir</a></span>
                        <select name="brand_id" class="input-select" required>
                            <% data.brands.forEach(brand=> { %>
                                <option value="<%= brand.brand_id %>"><%= brand.brand_name %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>

                <div class="wrapper__row">
                    <label class="label">
                        <span>Descripción</span>
                        <textarea class="input-textarea" name="product_description" rows="12" required></textarea>
                    </label>
                </div>

                <div class="wrapper__row wrapper__row--4">
                    <label for="product_ml" class="label">
                        <span>ML</span>
                        <input class="input-text" type="number" name="product_ml" required>
                    </label>
                    <label for="product_family" class="label">
                        <span>Familia Olfativa</span>
                        <input class="input-text" type="text" name="product_family" required>
                    </label>
                    <label for="product_gender" class="label">
                        <span>Genero</span>
                        <select name="product_gender" class="input-select" required>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Unisex">Unisex</option>
                            <option value="Fragancias">Fragancias</option>
                        </select>
                    </label>
                    <label for="product_type" class="label">
                        <span>Tipo</span>
                        <select name="product_type" class="input-select" required>
                            <option value="Eau de Parfum">Eau de Parfum</option>
                            <option value="Eau de Toilette">Eau de Toilette</option>
                            <option value="Desodorante">Desodorante</option>
                            <option value="After Shave">After Shave</option>
                        </select>
                    </label>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="wrapper__header">
                <h2 class="wrapper__subtitle">Inventario</h2>
            </div>
            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--3">
                    <label for="product_stock" class="label">
                        <span>Stock</span>
                        <input class="input-text" type="number" name="product_stock" required>
                    </label>
                    <label class="label">
                        <span>SKU</span>
                        <input class="input-text" type="number" name="product_sku" required>
                    </label>

                    <label for="provider_id" class="label">
                        <span class="label__span-link">Proveedor <a href="/provider/new" class="link">+ Añadir</a></span>
                        <select name="provider_id" class="input-select" required>
                            <% data.providers.forEach(provider=> { %>
                                <option value="<%= provider.provider_id %>"><%= provider.provider_name %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--4">
                    <label for="product_price_list" class="label">
                        <span>Precio Lista</span>
                        <input class="input-text" type="number" name="product_price_list" required>
                    </label>
                    <label for="product_price_sell" class="label">
                        <span>Precio Venta</span>
                        <input class="input-text" type="number" name="product_price_sell" required>
                    </label>
                    <label for="product_discount" class="label">
                        <span>Descuento</span>
                        <input class="input-text" type="number" name="product_discount" required>
                    </label>
                    <label for="payment_id" class="label">
                        <span>Cuotas</span>
                        <select name="payment_id" class="input-select" required>
                            <% data.payments.forEach(payment=> { %>
                                <option value="<%= payment.payment_id %>"><%= payment.payment_quantity %> - <%= payment.payment_interest %>% de interés</option>
                            <% }) %>
                        </select>
                    </label>
                </div>
            </div>
        </section>
    </section>

    <!-- ----------------------------------------------------------------------------  -->

    <section class="main__body-column__right">
        <section class="wrapper">
            <div class="wrapper__header">
                <h2 class="wrapper__subtitle">Indicadores</h2>
            </div>
            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--auto">
                    <label for="flag_new" class="label label--checkbox">
                        <input class="checkbox" type="checkbox" name="flag_new" id="flag_new" checked>
                        <span>Nuevo</span>
                    </label>
                    <label for="flag_promoted" class="label label--checkbox">
                        <input class="checkbox" type="checkbox" name="flag_promoted" id="flag_promoted">
                        <span>Promocional</span>
                    </label>
                    <label for="flag_featured" class="label label--checkbox">
                        <input class="checkbox" type="checkbox" name="flag_featured" id="flag_featured">
                        <span>Destacado</span>
                    </label>
                    <label for="flag_topSeller" class="label label--checkbox">
                        <input class="checkbox" type="checkbox" name="flag_topSeller" id="flag_topSeller">
                        <span>Más vendido</span>
                    </label>
                </div>
            </div>
        </section>
        <section class="wrapper">
            <div class="wrapper__header">
                <h2 class="wrapper__subtitle">Imagenes</h2>
            </div>
            <div class="wrapper__body">
                <div class="wrapper__img-container">
                    <img src="" alt="">
                </div>
            </div>
            <div class="wrapper__footer">
                <input type="file" accept="image/*" name="product_img" id="product_img" required>
            </div>
        </section>
    </section>
</form>