<section class="panel-main">
    <section class="panel-main__header">
        <h1>Mis direcciones</h1>
        <p>Aqui se listan todas las direcciones que tienes guardadas.</p>
    </section>
    <section>
        <ul class="panel-main__body">
            <li>
                <article class="w-article">
                    <div class="w-article__row">
                        <a class="w-article__dropdown-link dd-toggle"><span>+</span>Agregar dirección</a>
                    </div>
                    <!-- Agregar domicilio -->
                    <article class="w-article__dropdown">
                        <section class="w-article__dropdown-body">
                            <div class="w-article__inputs-row">
                                <div class="input-wrapper">
                                    <label class="label">
                                        <span>Dirección</span>
                                        <input class="input-text" type="text" name="name"
                                            placeholder="Ingrese calle...">
                                    </label>
                                </div>
                                <div class="input-wrapper">
                                    <label class="label">
                                        <span>Altura</span>
                                        <input class="input-text" type="number" name="name"
                                            placeholder="Ingrese altura...">
                                    </label>
                                </div>
                                <div class="input-wrapper">
                                    <label class="label">
                                        <span>Piso (opcional)</span>
                                        <input class="input-text" type="text" name="number" placeholder="0">
                                    </label>
                                </div>
                                <div class="input-wrapper">
                                    <label class="label">
                                        <span>Dpto (opcional)</span>
                                        <input class="input-text" type="text" name="name" placeholder="A">
                                    </label>
                                </div>
                            </div>
                            <div class="w-article__inputs-row">
                                <div class="input-wrapper">
                                    <label class="label">
                                        <span>Ciudad</span>
                                        <input class="input-text" type="text" name="name"
                                            placeholder="Ingrese ciudad...">
                                    </label>
                                </div>
                                <div class="input-wrapper">
                                    <label class="label">
                                        <span>Provincia</span>
                                        <input class="input-text" type="text" name="name"
                                            placeholder="Ingrese provincia...">
                                    </label>
                                </div>
                                <div class="input-wrapper">
                                    <label class="label">
                                        <span>Codigo postal</span>
                                        <input class="input-text" type="number" name="name" placeholder="0000">
                                    </label>
                                </div>
                            </div>
                            <div class="w-article__inputs-row">
                                <div class="input-wrapper">
                                    <label class="label">
                                        <span>Datos adicionales (opcional)</span>
                                        <input class="input-text" type="text" name="name"
                                            placeholder="Descripcion casa, como llegar, etc.">
                                    </label>
                                </div>
                            </div>
                            <div class="w-article__inputs-row">
                                <button class="btn">Agregar domicilio</button>
                            </div>
                        </section>
                    </article>
                </article>
            </li>

            <% data.addressList.forEach((address)=>{ %>
                <li>
                    <article class="w-article" id="<%= address.caddress_id %>">
                        <div class="w-article__row">
                            <div class="w-article__content">
                                <h2 class="wrapper__subtitle wrapper__subtitle--panel">
                                    <%= address.caddress_full %>
                                </h2>
                                <div>
                                    <p>
                                        <%= address.caddress_city %>, <%= address.caddress_state %>, <%=
                                                    address.caddress_zip %>
                                    </p>

                                </div>
                            </div>
                            <div class="w-article__btn-container">
                                <a href="#" class="btn-rounded dd-toggle"><iconify-icon
                                        icon="tabler:edit"></iconify-icon></a>
                                <a href="#" class="btn-rounded"><iconify-icon icon="tabler:trash-x"></iconify-icon></a>
                            </div>
                        </div>
                        <!-- editar domicilio -->
                        <article class="w-article__dropdown">
                            <section class="w-article__dropdown-body">
                                <div class="w-article__inputs-row">
                                    <div class="input-wrapper">
                                        <label class="label">
                                            <span>Dirección</span>
                                            <input class="input-text" type="text" name="name"
                                                placeholder="Ingrese calle..." value="<%= address.caddress_street %>">
                                        </label>
                                    </div>
                                    <div class="input-wrapper">
                                        <label class="label">
                                            <span>Altura</span>
                                            <input class="input-text" type="number" name="name"
                                                placeholder="Ingrese altura..." value="<%= address.caddress_number %>">
                                        </label>
                                    </div>
                                    <div class="input-wrapper">
                                        <label class="label">
                                            <span>Piso (opcional)</span>
                                            <input class="input-text" type="text" name="number" placeholder="0"
                                                value="<%= address.caddress_floor %>">
                                        </label>
                                    </div>
                                    <div class="input-wrapper">
                                        <label class="label">
                                            <span>Dpto (opcional)</span>
                                            <input class="input-text" type="text" name="name" placeholder="A"
                                                value="<%= address.caddress_apartment %>">
                                        </label>
                                    </div>
                                </div>
                                <div class="w-article__inputs-row">
                                    <div class="input-wrapper">
                                        <label class="label">
                                            <span>Ciudad</span>
                                            <input class="input-text" type="text" name="name"
                                                placeholder="Ingrese ciudad..." value="<%= address.caddress_city %>">
                                        </label>
                                    </div>
                                    <div class="input-wrapper">
                                        <label class="label">
                                            <span>Provincia</span>
                                            <input class="input-text" type="text" name="name"
                                                placeholder="Ingrese provincia..."
                                                value="<%= address.caddress_state %>">
                                        </label>
                                    </div>
                                    <div class="input-wrapper">
                                        <label class="label">
                                            <span>Codigo postal</span>
                                            <input class="input-text" type="number" name="name" placeholder="0000"
                                                value="<%= address.caddress_zip %>">
                                        </label>
                                    </div>
                                </div>
                                <div class="w-article__inputs-row">
                                    <div class="input-wrapper">
                                        <label class="label">
                                            <span>Datos adicionales (opcional)</span>
                                            <input class="input-text" type="text" name="name"
                                                placeholder="Descripcion casa, como llegar, etc."
                                                value="<%= address.caddress_obs %>">
                                        </label>
                                    </div>
                                </div>
                                <div class="w-article__inputs-row">
                                    <button class="btn">Guardar</button>
                                </div>
                            </section>
                        </article>
                    </article>
                </li>
            <%})%>
        </ul>
    </section>
</section>