<section class="main__header">
    <div class="main__content">
        <h2>Metodos de pagos</h2>
        <p>Administración de los metodos de pago</p>
    </div>
</section>
<section class="main__body">
    <section>
        <section class="wrapper">
            <div class="panel-info">
                <div class="panel-info__btn-container">
                    <a href="/payment_method/new" class="btn btn--green">
                        <iconify-icon icon="tabler:circle-plus"></iconify-icon>
                        <span>Agregar metodo</span>
                    </a>
                </div>
            </div>
        </section>

    </section>

    <section class="wrapper">
        <div class="wrapper__body">
            <table id="panel-table" class="table">
                <thead class="table__head">
                    <tr class="table__row-head">
                        <th class="table__cell table__cell--fit"><input class="checkbox" type="checkbox" name="" id="checkbox-all"></th>
                        <th class="table__cell">Metodo</th>
                        <th class="table__cell">Descripcion</th>
                        <th class="table__cell">Interés</th>
                        <th class="table__cell table__cell--fit">Estado</th>
                        <th class="table__cell table__cell--fit"></th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <% data.pms.forEach((pm)=> { %>
                        <tr class="table__row">
                            <td class="table__cell table__cell--fit">
                                <input class="checkbox action-checkbox" type="checkbox" name="<%= pm.pm_id %>">
                            </td>
                            <td class="table__cell">
                                <a href="/payment_method/<%= pm.pm_id %>" class="link link--table">
                                    <%= pm.pm_name %>
                                </a>
                            </td>
                            <td class="table__cell">
                                <a href="/payment_method/<%= pm.pm_id %>" class="link link--table">
                                    <%= pm.pm_description %>
                                </a>
                            </td>
                            <td class="table__cell">
                                <%= pm.pm_interest %>%
                            </td>
                            <td class="table__cell table__cell--fit">
                                <% if (pm.pm_status==1) { %>
                                    <span class="badge badge--green">activo</span>
                                    <% } else { %>
                                        <span class="badge badge--red">inactivo</span>
                                        <% } %>
                            </td>
                            <td class="table__cell table__cell--fit">
                                <a href="/payment_method/<%= pm.pm_id %>/edit" class="btn-table"><iconify-icon
                                        icon="tabler:edit"></iconify-icon></a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </section>
</section>