<section class="panel-header">
    <div class="panel-header__content">
        <h2>Metodos de pago</h2>
        <p>Administración de metodos de pago</p>

    </div>
</section>
<section class="panel-main__body">
    <section class="wrapper">

        <div class="panel-info">
            <div class="panel-info__item">
                <iconify-icon icon="tabler:perfume"></iconify-icon>
                <div>
                    <p class="panel-info__label">Total de medios de pago</p>
                    <p class="panel-info__value">7</p>
                </div>
            </div>

            <a href="#" class="panel-info__item panel-info__item--link">
                <iconify-icon icon="tabler:circle-check"></iconify-icon>
                <div>
                    <p class="panel-info__label">Inhabilitados</p>
                    <p class="panel-info__value">2</p>
                </div>
            </a>
            <div class="panel-info__btn-container">
                <a href="/admin/product/new" class="btn">
                    <iconify-icon icon="tabler:apps"></iconify-icon>
                    <span>Acciones</span>
                </a>
                <a href="/admin/product/new" class="btn">
                    <iconify-icon icon="tabler:circle-plus"></iconify-icon>
                    <span>Nuevo producto</span>
                </a>
            </div>
        </div>
    </section>
    <section class="wrapper">
        <div class="wrapper__body">
            <table id="panel-table" class="table">
                <thead class="table__head">
                    <tr class="table__row-head">
                        <th class="table__cell">SKU</th>
                        <th class="table__cell">Nombre</th>
                        <th class="table__cell">Descripcion</th>
                        <th class="table__cell" colspan="2">Estado</th>
                        <th></th>
                        <th class="table__cell">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table__body">
                    <% data.pmList.forEach((pm)=> { %>
                        <tr class="table__row">
                            <td class="table__cell">
                                <%= pm.pm_sku %>
                            </td>
                            <td class="table__cell">
                                <%= pm.pm_name %>
                            </td>
                            <td class="table__cell"><%= pm.pm_description %>
                            </td>
                            <td class="table__cell">
                                <span class="badge badge--<%= pm.pm_status == 1 ? 'green' : 'red' %>"><%= pm.pm_status == 1 ? 'Activo' : 'Inactivo' %></span> 
                            </td>
                            <td class="table__cell">
                                <a href="/admin/client/edit/1" class="btn-table"><iconify-icon
                                        icon="tabler:edit"></iconify-icon></a>
                                <a href="/admin/client/edit/1" class="btn-table"><iconify-icon
                                        icon="tabler:trash"></iconify-icon></a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </section>
</section>