<section class="main__header">
    <div class="header__content">
        <h2>Detalle de la marca <span class="header__id">(id: <%= data.brand.brand_id %>)</span></h2>
        <p>Se muestra todo el detalle de la marca</p>
    </div>

    <div class="header__btn-container">
        <button class="btn btn--gray" id="btnBack">
            <iconify-icon icon="tabler:arrow-back-up"></iconify-icon>
            <span>Volver</span>
        </button>
        <% if (data.brand.brand_status == 1) {%>
            <button class="btn btn--red" type="button" id="btn-status" data-id="<%= data.brand.brand_id %>" data-status="0" data-item="brand">
                <iconify-icon icon="tabler:xbox-x"></iconify-icon>
                <span>Desactivar</span>
            </button>
        <%}else{%>
            <button class="btn btn--green" type="button" id="btn-status" data-id="<%= data.brand.brand_id %>" data-status="1" data-item="brand">
                <iconify-icon icon="tabler:circle-check"></iconify-icon>
                <span>Activar</span>
            </button>
        <%}%>
        <a href="/brand/<%= data.brand.brand_id %>/edit" class="btn">
            <iconify-icon icon="tabler:edit"></iconify-icon>
            <span>Editar</span>
        </a>
    </div>

</section>
<section class="main__body-column">

    <section class="main__body-column__left">

        <section class="wrapper">
            <div class="wrapper__header wrapper__header--with-badge">
                <h2 class="wrapper__subtitle">General</h2>
                <% if (data.brand.brand_status == 1) {%>
                    <span class="badge badge--green">activo</span>
                <%}else{%>
                    <span class="badge badge--red">inactivo</span>
                <%}%>
            </div>
            <div class="wrapper__body">
                <div class="wrapper__row">
                    <div class="wrapper__item">
                        <p class="wrapper__item__key">Nombre</p>
                        <p class="wrapper__item__value" id="name" data-name="<%= data.brand.brand_name %>">
                            <%= data.brand.brand_name %>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="wrapper__header">
                <h2 class="wrapper__subtitle">Inventario</h2>
            </div>
            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--3">
                    <div class="wrapper__item">
                        <p class="wrapper__item__key">Productos total</p>
                        <p class="wrapper__item__value">
                            <%= data.counters.totalProducts %>
                        </p>
                    </div>
                    <div class="wrapper__item">
                        <p class="wrapper__item__key">Activos</p>
                        <p class="wrapper__item__value" data-="">
                            <%= data.counters.totalActiveProducts %>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="wrapper__header">
                <h2 class="wrapper__subtitle">Productos de la marca</h2>
            </div>
            <div class="wrapper__body">
                <table id="panel-table" class="table">
                    <thead class="table__head">
                        <tr class="table__row-head">
                            <th class="table__cell"><input class="checkbox" type="checkbox" name="" id="checkbox-all"></th>
                            <th class="table__cell">Producto</th>
                            <th class="table__cell">SKU</th>
                            <th class="table__cell">Stock</th>
                            <th class="table__cell">Precio Lista</th>
                            <th class="table__cell">Precio Venta</th>
                            <th class="table__cell">Estado</th>
                            <th class="table__cell"></th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <% data.products.forEach((product)=> { %>
                            <tr class="table__row">
                                <td class="table__cell">
                                    <input class="checkbox action-checkbox" type="checkbox" name="<%= product.product_id %>">
                                </td>
                                <td class="table__cell">
                                    <a href="/product/<%= product.product_id %>" class="link link--table">
                                        <%= product.product_name %>
                                    </a>
                                </td>
                                <td class="table__cell">
                                    <%= product.product_sku %>
                                </td>
                                <td class="table__cell">
                                    <%= product.product_stock %>
                                </td>
                                <td class="table__cell">$<%= product.product_price_list %>
                                </td>
                                <td class="table__cell">$<%= product.product_price_sell %>
                                </td>
                                <td class="table__cell">
                                    <% if (product.product_status==true) { %>
                                        <span class="badge badge--green">activo</span>
                                    <% } else { %>
                                        <span class="badge badge--red">inactivo</span>
                                    <% } %>
                                </td>
                                <td class="table__cell">
                                    <a href="/product/<%= product.product_id %>/edit" class="btn-table"><iconify-icon icon="tabler:edit"></iconify-icon></a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <!-- ----------------------------------------------------------------------------  -->
    <section class="main__body-column__right">

        <section class="wrapper">
            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--2">
                    <div class="wrapper__item">
                        <p class="wrapper__item__key">Creado</p>
                        <p class="wrapper__item__value"><%= data.brand.brand_created %></p>
                    </div>
                    <div class="wrapper__item">
                        <p class="wrapper__item__key">Modificado</p>
                        <p class="wrapper__item__value"><%= data.brand.brand_updated %></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="wrapper__header">
                <h2 class="wrapper__subtitle">Indicadores</h2>
            </div>
            <div class="wrapper__body">
                <div class="wrapper__row wrapper__row--auto">
                    <span class="badge <%# data.brand.brand_flags.new ? 'badge--blue' : '' %>">Nuevo</span>
                    <span class="badge <%# data.brand.brand_flags.promoted ? 'badge--blue' : '' %>">Promocional</span>
                    <span class="badge <%# data.brand.brand_flags.featured ? 'badge--blue' : '' %>">Destacado</span>
                    <span class="badge <%# data.brand.brand_flags.topSeller ? 'badge--blue' : '' %>">Mas vendido</span>
                </div>
            </div>
        </section>
    </section>
</section>