<article class="product-card">
    <a href="/shop/product/<%= product.product_sku %>">
        <div class="product-card__cover">
            <img src="<%= product.product_img %>" alt="<%= product.product_name %>">
        </div>
        <div class="product-card__content">
            <div class="product-card__subcontent">
                <h3 class="product-card__brand"><%= product.brand_name %></h3>
                <p class="product-card__name"><%= product.product_name %></p>
            </div>
            <div class="product-card__subcontent">
                <% if(product.product_discount > 0) { %>
                    <p class="product-card__price">$<%= product.product_price_discount %> <span class="product-card__price product-card__price--line">$<%= product.product_price %> </span></p>
                <% } else { %>
                    <p class="product-card__price">$ <%= product.product_price %></p>
                <% } %>
                <p class="product-card__payments"><%= product.product_payments %> cuotas sin interés de <span>$<%= product.product_price_payments %></span></p>
            </div>
        </div>
    </a>
</article>